.h.img{
    margin-left: 20px;
    float: left;
}
hr{
    width:1300px;
    margin-left: 50px;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 77px;   
    font-family:Tahoma, sans-serif;
}

#p1{
    width: 1200px;
    margin-left: 80px;
    margin-top: 50px;
    font-size: 19px;  
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    font-size: 42px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#life{
    width: 900px;
    text-align: justify;
}
#img1{
    float: right;
    margin-top: -60px;
    margin-left: 30px;
}

.both{
    margin-top: 50px;
}
h4{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}