
body{
  background-color:   rgba(242, 233, 233, 0.986);
}
@media screen and (min-width: 1220px){
/*Head*/
.himg{
    height:250px;
    margin-left: 20px;
}
#main{
    height: 200px;
}
hr{
    width:1400px;
    margin-left: 50px;
}

h1{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 77px;   
    font-family:Tahoma, sans-serif;
}
/* Alphred Nobel's life */
#p1{
    width: 1000px;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 19px;  
    font-family:Arial, Helvetica, sans-serif;
}
#hlife{
    font-size: 42px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#life{
    width: 800px;
    text-align: justify;
}
#img1{
    float: right;
    margin-top: -60px;
    margin-left: 10px;
}
#IM1{    
  width: 300px;
  height: 210px;
}
/*Quick + Aphor*/
.both{
    margin-top: 50px;
}
.hboth{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.quick{
    margin-left:80px;
    width: 40%;
    font-size: 17px;

}
.aphor{
    margin-left: 80px;    
    width: 40%;    
    font-size: 17px;
}
#aph{
    text-align: justify;
} 
li::marker  {
    color: #f2b750;
}
/*Timeline*/
#htime{
  font-size: 70px;
  text-shadow: 4px 3px 4px #bdb7b7;
  margin-top: 30px;
  text-align: center;
  color: #f8c365;     
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tline{
  margin-left: 5px;
  background-color: #40516e;
}
ul.timeline-3 {
  list-style-type: none;
  position: relative;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17.5px;
  text-align: justify;
  padding-left: 45px;
  left: 100px;
  }
ul.timeline-3:before {
  content: ' ';
  background: #a9a9a9;
  display: inline-block;
  position: absolute;
  left: 34px;
  width: 2px;
  height: 100%;
  z-index: 400;
  }
ul.timeline-3 > li {
  margin: 40px 0;
  padding-right: 50px;
  padding-left: 20px;
  }
ul.timeline-3 > li:before {
  content: ' ';
  background: #cea152;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 10px solid #cea152;
  left: 20px;
  width: 30px;
  height: 30px;
  z-index: 400;
}
.y{
  font-weight: bold;
  color: #d68a05;
}
.mt-2{
  color: whitesmoke;
}
#myDiv{
  display: none;
}
#timebtn{
  margin-left: 610px;
  margin-bottom: 10px;
}
/*Work*/
#hwork{ 
  font-size: 65px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
} 
.work{
  background-color: rgb(237, 232, 226);
  margin: 30 8px 2px;
  width: 30%;
  align-items: center;
  padding-left: 5px;

}
.row{
  margin-left: 2%;
}
.Wimg{
  width:100%; 
  height:260px;
  margin-bottom: 10px;
}
/*Videos*/
#hvid{    
  margin-left: 100px;
  font-size: 65px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#vid{
  margin-left: 50px;
}
video{
  width:350px;
}
/*Register*/
.reg{
  background: #b2b0ae;
  height: 300px;
  padding-top: 25px;
  margin-bottom: 15px;     
  font-family:Tahoma, sans-serif;
}
.Message{
  width: 100%;
  padding-left: 80px
}
strong{
  font-size: 27px;
}
#Sb{
  padding-top: 10px;  
  font-size: 18px;
  text-align: justify;
  margin-left: 25px ;  
  line-height: 1.5em;  
}
.sub{
  margin-top: -10px;
  padding-left: 140px;
}
#exampleInputEmail1{
  margin-top: 10px;
  width: 590px;
  height: 36px;
  margin-bottom: 10px;
}
#emailHelp{
  color: #0a0a0b;
  font-weight: bold;
  padding-left: 25px;
}
#exampleCheck1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-primary{
  height: 30px;
  margin-top: 5px;
  border-radius: 6px;
  margin-bottom: 10px;
}
}
@media screen and (max-width: 570px){
  .himg{
    height: 75px;
    width: 95px;
    margin-left: 10px;
  }
  #main{
    height: 70px;
  }
  h1{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;   
    font-family:Tahoma, sans-serif;
  }
  hr{
    width: 450px;
    margin-left: 20px;
  }
  /* Alphred Nobel's life */
  #p1{
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 11px;  
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: -30px;
  }
  #hlife{
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #life{
    margin-top: 5%;
    width: 90%;
    text-align: justify;
  }
  #img1{    
    float: right;
    margin-top: 0px;
    margin-left: 25px;
  }
  #IM1{    
    width: 220px;
    height: 110px;
  }
  /*Quick + Aphor*/
  .both{
    margin-top: 15px;
  }
  .hboth{
    margin-bottom: -5px;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .quick{
    margin-left:10px;
    width: 90%;
    font-size: 17px;

  }
  .aphor{
    margin-top: 10px;
    margin-left: 10px; 
    width: 90%;
    font-size: 17px;
  }
  #aph{
    text-align: justify;
    margin-left: 5px;
  } 
  li::marker  {
    color: #f2b750;
  }
  /*Timeline*/
  #htime{
    font-size: 45px;
    text-shadow: 4px 3px 4px #bdb7b7;
    margin-top: 15px;
    text-align: center;
    color: #f8c365;     
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #tline{
    width: 99%;
    margin-left: 5px;
    background-color: #40516e;
  }
  ul.timeline-3 {
    list-style-type: none;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: justify;
    padding-left: 25px;
    left: 20px;
    }
  ul.timeline-3:before {
    content: ' ';
    background: #a9a9a9;
    display: inline-block;
    position: absolute;
    left: 14px;
    width: 2px;
    height: 100%;
    z-index: 400;
    }
  ul.timeline-3 > li {
    margin: 10px 0;
    padding-right: 50px;
    padding-left: 20px;
    }
  ul.timeline-3 > li:before {
    content: ' ';
    background: #cea152;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #cea152;
    left: 6px;
    width: 15px;
    height: 15px;
    z-index: 400;
  }
  .y{
    font-weight: bold;
    color: #d68a05;
  }
  .mt-2{
    color: whitesmoke;
  }
  #myDiv{
    display: none;
  }
  #timebtn{
    margin-left: 5px;
    margin-bottom: 10px;
    height: 20px;
    font-size: 10px;
  }
  /*Work*/
  #hwork{ 
    font-size: 45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
  } 
  .work{
    background-color: rgb(237, 232, 226);
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 13%;
    width: 400px;
    align-items: center;
  
  }
  .Wimg{
    margin-left: 1%;
    width:365px; 
    height:230px;
    margin-bottom: 10px;
  }  
  /*Videos*/
  #hvid{    
    margin-left: 60px;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #vid{
    margin-left: 17%;
  }
  video{
    width:350px;
    margin-bottom: 8px;
  }
  /*Register*/
  .reg{
    width: 100%;
    background: #b2b0ae;
    padding-top: 15px;
    margin-bottom: 15px;
    height: 270px;     
    font-family:Tahoma, sans-serif;
  }
  .Message{
    width: 100%;
    padding-left: 10px;
  }
  strong{
    font-size: 20px;
  }
  #Sb{
    padding-top: 10px;  
    font-size: 15px;
    text-align: justify;
    margin-left: 25px ;  
    line-height: 1.5em;  
  }
  #regist{
    margin-bottom: -5px;
  }
  #exampleInputEmail1{
    margin-top: 10px;
    width: 410px;
    height: 25px;
    margin-bottom: 10px;
  }
  .sub{
    padding-top: 10px;
    width: 490px;
    padding-left: 25px
  }
  #emailHelp{
    color: #0a0a0b;
    font-weight: bold;
    padding-left: 25px;
  }
  #exampleCheck1{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btn-primary{
    font-size: 12px;
    height: 21px;
    margin-top: 5px;
    border-radius: 6px;
  }
}
@media screen and (min-width: 570px) and (max-width: 768px){
  .himg{
    height: 100px;
    width: 95px;
    margin-left: 10px;
  }
  #main{
    height: 100px;
  }
  h1{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;   
    font-family:Tahoma, sans-serif;
  }
  #hr1{
    width: 520px;
    margin-left: 10px;
  }
  /* Alphred Nobel's life */
  #p1{
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: -30px;
  }
  #hlife{
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #life{
    margin-top: 5%;
    width: 90%;
    font-size: 15px;  
    text-align: justify;
  }
  #img1{    
    float: right;
    margin-top: 15px;
    margin-left: 20px;
  }
  #IM1{    
    width: 265px;
    height: 150px;
  }
  /*Quick + Aphor*/
  .both{
    margin-top: 40px;
  }
  .hboth{
    margin-bottom: -5px;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .quick{
    margin-left:30px;
    width: 90%;
    font-size: 19px;

  }
  .aphor{
    margin-top: 20px;
    margin-left: 30px; 
    width: 90%;
  }
  #aph{
    text-align: justify;
    font-size: 19px;
    margin-left: 5px;
  } 
  li::marker  {
    color: #f2b750;
  }
  /*Timeline*/
  #htime{
    font-size: 45px;
    text-shadow: 4px 3px 4px #bdb7b7;
    margin-top: 15px;
    text-align: center;
    color: #f8c365;     
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #tline{
    width: 99%;
    margin-left: 5px;
    background-color: #40516e;
  }
  ul.timeline-3 {
    list-style-type: none;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    padding-left: 25px;
    left: 20px;
    }
  ul.timeline-3:before {
    content: ' ';
    background: #a9a9a9;
    display: inline-block;
    position: absolute;
    left: 14px;
    width: 2px;
    height: 100%;
    z-index: 400;
    }
  ul.timeline-3 > li {
    margin: 30px 0;
    padding-right: 50px;
    padding-left: 20px;
    }
  ul.timeline-3 > li:before {
    content: ' ';
    background: #cea152;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #cea152;
    left: 6px;
    width: 15px;
    height: 15px;
    z-index: 400;
  }
  .y{
    font-weight: bold;
    color: #d68a05;
  }
  .mt-2{
    font-size: 17px;
    color: whitesmoke;
  }
  #myDiv{
    display: none;
  }
  #timebtn{
    margin-left: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
  }
  /*Work*/
  #hwork{ 
    font-size: 49px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
  } 
  .work{
    background-color: rgb(237, 232, 226);
    margin-top: 30px;
    margin-bottom: 2px;
    margin-left: 14%;
    width: 450px;
    align-items: center;
  
  }
  .Wimg{
    margin-left: 1%;
    width: 413px; 
    height:250px;
    margin-bottom: 10px;
  }  
  /*Videos*/
  #hvid{    
    margin-left: 60px;
    font-size: 47px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #vid{
    margin-left: 14.5%;
  }
  video{
    width:400px;
    margin-bottom: 8px;
  }
  /*Register*/
  .reg{
    background: #b2b0ae;
    padding-top: 15px;
    width: 103%;
    margin-bottom: 15px;
    height: 300px;     
    font-family:Tahoma, sans-serif;
  }
  .Message{    
    width: 100%;
    padding-left: 35px;
  }
  strong{
    font-size: 25px;
  }
  #Sb{
    padding-top: 10px;  
    font-size: 17px;
    text-align: justify;
    margin-left: 25px ;  
    line-height: 1.5em;  
  }
  #regist{
    margin-left: 35px;
    margin-bottom: -15px;
  }
  #exampleInputEmail1{
    margin-top: 10px;
    width: 410px;
    height: 25px;
    margin-bottom: 10px;
  }
  .sub{
    padding-top: 10px;
    width: 490px;
    padding-left: 25px
  }
  #emailHelp{
    color: #0a0a0b;
    font-weight: bold;
    padding-left: 25px;
  }
  #exampleCheck1{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn-primary{
    font-size: 12px;
    height: 21px;
    margin-top: 5px;
    border-radius: 6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 912px){
  .himg{
    height: 120px;
    width: 130px;
    margin-left: 13px;
  }
  #main{
    height: 115px;
  }
  h1{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 45px;   
    font-family:Tahoma, sans-serif;
  }
  #hr1{
    width: 697px;
    margin-left: 20px;
  }
  /* Alphred Nobel's life */
  #p1{
    width:85%;
    margin-left: 45px;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: -30px;
  }
  #hlife{
    margin-left: 10px;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #life{
    margin-top: 3%;
    width: 95%;
    font-size: 17px;  
    text-align: justify;
  }
  #img1{    
    float: right;
    margin-top: -15px;
    margin-left: 15px;
  }
  #IM1{    
    width: 325px;
    height: 190px;
  }
  /*Quick + Aphor*/
  .both{
    margin-top: 40px;
  }
  .hboth{
    margin-bottom: -5px;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .quick{
    margin-left:30px;
    width: 90%;
    font-size: 19px;

  }
  .aphor{
    margin-top: 20px;
    margin-left: 30px; 
    width: 90%;
  }
  #aph{
    text-align: justify;
    font-size: 19px;
    margin-left: 5px;
  } 
  li::marker  {
    color: #f2b750;
  }
  /*Timeline*/
  #htime{
    font-size: 45px;
    text-shadow: 4px 3px 4px #bdb7b7;
    margin-top: 15px;
    text-align: center;
    color: #f8c365;     
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #tline{
    width: 99%;
    margin-left: 5px;
    background-color: #40516e;
  }
  ul.timeline-3 {
    list-style-type: none;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    padding-left: 25px;
    left: 20px;
    }
  ul.timeline-3:before {
    content: ' ';
    background: #a9a9a9;
    display: inline-block;
    position: absolute;
    left: 14px;
    width: 2px;
    height: 100%;
    z-index: 400;
    }
  ul.timeline-3 > li {
    margin: 30px 0;
    padding-right: 50px;
    padding-left: 20px;
    }
  ul.timeline-3 > li:before {
    content: ' ';
    background: #cea152;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #cea152;
    left: 6px;
    width: 15px;
    height: 15px;
    z-index: 400;
  }
  .y{
    font-weight: bold;
    color: #d68a05;
  }
  .mt-2{
    font-size: 17px;
    color: whitesmoke;
  }
  #myDiv{
    display: none;
  }
  #timebtn{
    margin-left: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
  }
  /*Work*/
  #hwork{ 
    font-size: 49px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
  } 
  .work{
    background-color: rgb(237, 232, 226);
    margin-top: 30px;
    margin-bottom: 2px;
    margin-left: 21%;
    width: 470px;
    align-items: center;
  
  }
  .Wimg{
    margin-left: 1%;
    width: 435px; 
    height:250px;
    margin-bottom: 10px;
  }  
  /*Videos*/
  #hvid{    
    margin-left: 60px;
    font-size: 47px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #vid{
    margin-left: 19%;
  }
  video{
    width:450px;
    margin-bottom: 8px;
  }
  /*Register*/
  .reg{
    background: #b2b0ae;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 101.5%;
    height: 300px;     
    font-family:Tahoma, sans-serif;
  }
  .Message{
    
    width: 100%;
    padding-left: 35px;
  }
  strong{
    font-size: 25px;
  }
  #Sb{
    padding-top: 10px;  
    font-size: 17px;
    text-align: justify;
    margin-left: 25px ;  
    line-height: 1.5em;  
  }
  #regist{
    margin-left: 35px;
    margin-bottom: -15px;
  }
  #exampleInputEmail1{
    margin-top: 10px;
    width: 410px;
    height: 25px;
    margin-bottom: 10px;
  }
  .sub{
    padding-top: 10px;
    width: 490px;
    padding-left: 25px
  }
  #emailHelp{
    color: #0a0a0b;
    font-weight: bold;
    padding-left: 25px;
  }
  #exampleCheck1{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .btn-primary{
    font-size: 12px;
    height: 21px;
    margin-top: 5px;
    border-radius: 6px;
  }
}
@media screen and (min-width: 912px) and (max-width: 1220px){
  .himg{
    height: 155px;
    width: 159px;
    margin-left: 13px;
  }
  #main{
    height: 135px;
  }
  h1{
    margin-top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 55px;   
    font-family:Tahoma, sans-serif;
  }
  #hr1{
    width: 855px;
    margin-left: 20px;
  }
  /* Alphred Nobel's life */
  #p1{
    width:85%;
    margin-left: 45px;
    margin-top: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: -30px;
  }
  #hlife{
    margin-left: 10px;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #life{
    margin-top: 3%;
    width: 95%;
    font-size: 17px;  
    text-align: justify;
  }
  #img1{    
    float: right;
    margin-top: -15px;
    margin-left: 15px;
  }
  #IM1{    
    width: 330px;
    height: 200px;
  }
  /*Quick + Aphor*/
  .both{
    margin-top: 40px;
  }
  .hboth{
    margin-bottom: -5px;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .quick{
    margin-left:30px;
    width: 90%;
    font-size: 20px;

  }
  .aphor{
    margin-top: 20px;
    margin-left: 30px; 
    width: 90%;
  }
  #aph{
    text-align: justify;
    font-size: 20px;
    margin-left: 5px;
  } 
  li::marker  {
    color: #f2b750;
  }
  /*Timeline*/
  #htime{
    font-size: 45px;
    text-shadow: 4px 3px 4px #bdb7b7;
    margin-top: 15px;
    text-align: center;
    color: #f8c365;     
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #tline{
    width: 115%;
    margin-left: 2px;
    background-color: #40516e;
  }
  ul.timeline-3 {
    list-style-type: none;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    padding-left: 40px;
    left: 20px;
    }
  ul.timeline-3:before {
    content: ' ';
    background: #a9a9a9;
    display: inline-block;
    position: absolute;
    left: 17px;
    width: 4px;
    height: 100%;
    z-index: 400;
    }
  ul.timeline-3 > li {
    margin: 30px 0;
    padding-right: 50px;
    padding-left: 50px;
    }
  ul.timeline-3 > li:before {
    content: ' ';
    background: #cea152;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 10px solid #cea152;
    left: 6px;
    width: 25px;
    height: 25px;
    z-index: 400;
  }
  .y{
    font-weight: bold;
    color: #d68a05;
  }
  .mt-2{
    font-size: 18px;
    color: whitesmoke;
  }
  #myDiv{
    display: none;
  }
  #timebtn{
    margin-left: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 15px;
  }
  /*Work*/
  #hwork{ 
    font-size: 65px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 15px;
  } 
  .work{
    background-color: rgb(237, 232, 226);
    margin-top: 30px;
    margin-bottom: 2px;
    margin-left: 21%;
    width: 550px;
    align-items: center;
  
  }
  .Wimg{
    margin-left: 1%;
    width: 510px; 
    height:265px;
    margin-bottom: 10px;
  }  
  /*Videos*/
  #hvid{    
    margin-left: 80px;
    font-size: 70x;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #vid{
    margin-left: 19%;
  }
  video{
    width:480px;
    margin-bottom: 8px;
  }
  /*Register*/
  .reg{
    background: #b2b0ae;
    padding-top: 15px;
    margin-bottom: 15px;
    width: 101.5%;
    height: 350px;     
    font-family:Tahoma, sans-serif;
  }
  .Message{
    width: 100%;
    padding-left: 35px;
  }
  strong{
    font-size: 25px;
  }
  #Sb{
    padding-top: 10px;  
    font-size: 20px;
    text-align: justify;
    margin-left: 25px ;  
    line-height: 1.5em;  
  }
  #regist{
    width: 450px;
    margin-left: 35px;
    margin-bottom: -15px;
  }
  #exampleInputEmail1{
    margin-top: 10px;
    width: 410px;
    height: 25px;
    margin-bottom: 10px;
  }
  .sub{
    padding-top: 10px;
    width: 490px;
    padding-left: 25px
  }
  #emailHelp{
    color: #0a0a0b;
    font-weight: bold;
    padding-left: 25px;
    font-size: 18px;
  }
  #exampleCheck1{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 12px;
  }
  #myBtn{
    font-size: 17px;
    text-decoration: none;
  }
  .btn-primary{
    font-size: 15px;
    height: 26px;
    margin-top: 5px;
    border-radius: 6px;
  }
}