@media screen and (min-width: 1300px){
    footer{
        background-color: #d7a942;
    }
    .main-content{
        display: flex;
    }
    .main-content .box{
        flex-basis: 50%;
        padding: 5px 10px;
    }
    .box h2{
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .box hr{
        background-color: rgb(200, 0, 0);
        border: 0;
        height: 2px;
        width: 100px;
        margin: 5px 0 10px;
    }
    .box .content{
        margin: 20px 0 0 0;
    }
    .left .content p{
        text-align: justify;
    }
    .left .content .social{
        margin: 20px 0 0 0;
    }
    .left .content .social a{
        padding: 0 2px;
    }
    .left .content .social a span{
        color: black;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        transition: 0.3s;
    }
    .left .content .social a span:hover{
        background-color: red;
    }
    .center-2 .content .faqs a:hover{
        color: red;
    }
    .center-2 .content .faqs a{
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 19px;
    }
    .center-2 .content .text{
        font-size: 19px;
        font-weight: bold;
    }
    input{
        width: 200px;
    }
    textarea{
        width: 200px;
    }
    .right .content .btn{
        margin-left: 155px;
        width: 45px;
        height: 25px;
        border: none;
        color: black;
        background-color: grey;
        border-radius: 4px;
        font-size: 14px;
        outline: none;
        display: flex;
        justify-content: center;
        color: black;
    }

    #submit{
        margin-left: 150px;
        margin-top: 5px;
        width: 50px;
    }
}
@media screen and (max-width: 570px){
    footer{
        background-color:#d7a942 ;
    }
    h2{
        margin-left: 30px;
        padding-top: 20px;
        margin-bottom: -5px;
    }
    p{
        font-size: 15px;
        margin-left: 5px;        
        margin-right: 5px;
    }
    .fa-facebook-f:before {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .fa-twitter:before {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .fa-instagram:before  {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .fa-youtube:before  {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .social{ 
        margin-left: 120px;
        margin-bottom: 10px;
    }
    .content{
        margin-left: 15px;     
        margin-right: 15px;
    }
    .text{
        margin-left: 5px;
    }
    .center.box {
        margin-bottom: 10px;
        width: 440px;
    }
    .center-2.box {
        margin-bottom: 10px;
        width: 440px;
    }
    #Submit{
        margin-bottom: 10px;
        margin-top: 5px;
    }
    a{
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    form{
        margin-bottom: -5px;    
    }
    hr:not([size]){
        width: 435px;
    }
}
@media screen and (min-width: 570px) and (max-width: 768px){
    footer{
        background-color:#d7a942 ;
    }
    h2{
        margin-left: 30px;
        padding-top: 20px;
        margin-bottom: -5px;
    }
    p{
        font-size: 15px;
        margin-left: 5px;        
        margin-right: 5px;
    }
    .fa-facebook-f:before {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .fa-twitter:before {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .fa-instagram:before  {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .fa-youtube:before  {
        color: black;
        font-size: 20px;
        margin-left: 20px;
    }
    .social{ 
        margin-left: 120px;
        margin-bottom: 10px;
    }
    .content{
        margin-left: 15px;     
        margin-right: 15px;
    }
    .text{
        margin-left: 5px;
    }
    .center.box {
        margin-bottom: 10px;
        width: 440px;
    }
    .center-2.box {
        margin-bottom: 10px;
        width: 440px;
    }
    #Submit{
        margin-bottom: 10px;
        margin-top: 5px;
    }
    a{
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    form{
        margin-bottom: -5px;    
    }
    hr:not([size]){
        margin-top: 20px;
        width: 520px;
        margin-left: 15px ;
    }
}
@media screen and (min-width: 768px) and (max-width:912px){
    footer{
        background-color:#d7a942 ;
    }
    h2{
        margin-left: 30px;
        padding-top: 20px;
        margin-bottom: -5px;
    }
    p{
        font-size: 18px;
        margin-left: 5px;        
        margin-right: 2px;
    }
    .fa-facebook-f:before {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .fa-twitter:before {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .fa-instagram:before  {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .fa-youtube:before  {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .social{ 
        margin-left: 205px;
        margin-bottom: 10px;        
        margin-top: 30px;
    }
    .content{
        font-size: 18px;
        margin-left: 35px;     
        margin-right: 15px;
    }
    .text{
        margin-left: 5px;
    }
    .center.box {
        margin-bottom: 10px;
        width: 440px;
    }
    .center-2.box {
        margin-bottom: 10px;
        width: 440px;
    }
    #Submit{
        margin-bottom: 10px;
        margin-top: 5px;
    }
    a{
        margin-left: 10px;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    form{
        margin-bottom: -5px;    
    }
    hr:not([size]){
        margin-left: 15px;
        margin-top: 20px;
        width: 705px;
    }
}
@media screen and (min-width: 912px) and (max-width:1220px){
    footer{
        background-color:#d7a942 ;
    }
    h2{
        margin-left: 30px;
        padding-top: 20px;
        margin-bottom: -5px;
    }
    p{
        font-size: 18px;
        margin-left: 10px;        
        margin-right: 2px;
    }
    .fa-facebook-f:before {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .fa-twitter:before {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .fa-instagram:before  {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .fa-youtube:before  {
        color: black;
        font-size: 25px;
        margin-left: 20px;
    }
    .social{ 
        margin-left: 235px;
        margin-bottom: 10px;        
        margin-top: 30px;
    }
    .content{
        margin-left: 55px;     
        margin-right: 15px;
    }
    .text{
        margin-left: 5px;
        font-size: 20px;
    }
    .center.box {
        margin-bottom: 10px;
        width: 440px;
    }
    .center-2.box {
        margin-bottom: 10px;
        width: 440px;
    }
    #Submit{
        margin-bottom: 10px;
        margin-top: 5px;
    }
    a{
        margin-left: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        color: black;
    }
    form{
        margin-bottom: -5px;    
    }
    hr:not([size]){
        margin-left: 15px;
        margin-top: 20px;
        width: 845px;
    }
}