body{
    background-color:   rgba(242, 233, 233, 0.986);
    width: 1520px;    
    padding: 0.75%
  }
* a:hover{
    transition: all 0.2s linear;
    color: black;
}
    .snip1444 {
        font-family: 'Roboto', Arial, sans-serif;
        text-align: left;
        text-transform: uppercase;
        font-weight: 300;
        background-color: #eee;
        padding: 0;
        letter-spacing: 2px;
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
        float: top;
      }
      .snip1444 *,
      .snip1444 *:before {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .snip1444 li {
        display: inline-block;
        list-style: outside none none;
        margin: 0;
        position: relative;
        float: left;
      }
      .snip1444 > li {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #b3b3b3;
      }
      .snip1444 > li:first-of-type {
        border-left: none;
      }
      .snip1444 > li:last-of-type {
        border-right: none;
      }
      .snip1444 a {
        color: #000000;
        display: block;
        padding: 1.1em 2em 1.3em;
        position: relative;
        text-decoration: none;
      }
      .snip1444 a:hover {
        color: #ffffff;
      }
      .snip1444 > li:before,
      .snip1444 > li:after {
        position: absolute;
        content: '';
      }
      .snip1444 > li:before {
        background-color: rgb(207, 176, 0);
        left: 0;
        right: 0;
        bottom: 0;
        top: 100%;
        opacity: 0;
      }
      .snip1444 > li:after {
        position: absolute;
        bottom: 0;
        left: -1px;
        right: -1px;
        height: 5px;
        background-color: rgb(207, 176, 0);
        box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
      }
      .snip1444 ul {
        display: none;
        position: absolute;
        top: 100%;
        margin: 0;
        padding: 5px 0;
        white-space: nowrap;
        font-size: 0.8em;
        background-color: #8e2a20;
        color: #ffffff;
        font-weight: 400;
      }
      .snip1444 ul li {
        display: list-item;
        float: none;
        position: relative;
      }
      .snip1444 ul li a {
        padding: 0.8em 1.2em;
        color: #ffffff;
        text-transform: none;
        opacity: 0.8;
      }
      .snip1444 ul li a:hover {
        opacity: 1;
      }
      .snip1444 li:hover > ul {
        display: inherit;
      }
      .snip1444 li > a:after {
        content: ' \f3d0';
        font-family: "Ionicons";
      }
      .snip1444 li > a:only-child:after {
        content: '';
      }
      .snip1444 ul ul {
        background-color: #962d22;
        top: 0px;
        left: 100%;
        list-style: none;
        font-size: 1em;
      }
      .snip1444 ul li > a:after {
        content: ' \f3d1';
      }
      .snip1444 > li:hover > a,
      .snip1444 > li.current > a {
        color: #fff;
      }
      .snip1444 > li:hover:before,
      .snip1444 > li.current:before {
        top: 0;
        opacity: 1;
      }
    #head1{
      text-align: center; 
      text-decoration:none; 
      color:rgb(207, 176, 0); 
      font-size:xx-large; 
      font-weight: bold;
      margin-bottom: 80px;
    }
    .img-fluid{
      margin-top: -50px;
    }
    #float1{
      color: white;
    }
    .cnt{
        font-size: 30px;
        color: white;
        font-family: sans-serif;
        position: absolute;
        left: 50%;
        bottom: 45%;
        transform: translate(-50%, -65%);
        text-decoration: none;
        animation: mymove 1s;
    }
    .cnt:hover{
        color: rgb(207, 176, 0);
        transition: all 0.2s linear;
    }
    .center1{
        font-size: 50px;
        font-family: sans-serif;
        position: absolute;
        left: 50%;
        bottom: 15%;
        transform: translate(-50%, -35%);
        text-decoration: none;
        animation: mymove1 1s;
    }
    .center1:hover{
        color: rgb(207, 176, 0);
        transition: all 0.2s linear;
    }
    .tr1{           
        background-color: rgb(179, 178, 178);
        padding: 30px;
        color: black; 
        font-size: 40px;
        transition: all 1s;  
        width: 200px;
        height: 100px; 
        margin: auto;
    }
    .tr1:hover{
        width: 120px;
        height: 110px;
    }
    .center2{
      font-size: 20px;
      font-family: sans-serif;
      position: absolute;
      left: 50%;
      bottom: 5%;
      transform: translate(-50%, -20%);
      text-decoration: none;
      animation: mymove2 1s;
  }
  .center2:hover{
      color: rgb(207, 176, 0);
      transition: all 0.2s linear;
  }
  .center3{
      font-size: 50px;
      font-weight: bold;
      color: white;
      position: absolute;
      left: 50%;
      top: 140%;
      transform: translate(-50%, 450%);
  }
  .center3:hover{
      color: rgb(207, 176, 0);
      transition: all 0.2s linear;
  }
  .center4{
      font-size: 20px;
      font-weight: bold;
      color: white;
      position: absolute;
      left: 50%;
      top: 180%;
      transform: translate(-50%, 100%);
  }
  .center4:hover{
      color: rgb(207, 176, 0);
      transition: all 0.2s linear;
  }
  #tr2{
    background-color:  rgb(29, 28, 28);
    margin-top: 10px;
    height: 600px;
    width: 1000px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #IMG2{
    margin: -400px 0px 0px 500px ;
    width: 50%;
    margin-bottom: 10px;
  }
  .center5{
      font-size: 35px;
      font-weight: bold;
      color: rgb(207, 176, 0);
      position: absolute;
      left: 60px;
      top: 1650px;
  }
  .center5:hover{
      color: wheat;
      transition: all 0.2s linear;
      text-decoration: underline;
  }
  .center6{
    font-size: 17px;
    font-weight: bold;
    color: rgb(207, 176, 0);
    position: absolute;
    left: 100px;
    top: 1710px;
}
.center6:hover{
    color: wheat;
    transition: all 0.2s linear;
    text-decoration: underline;
}
  .zoom2{
    height: 100%;      
  }
  .zoom2 img{
      transition: transform .5s ease;
  }
  .zoom2:hover img{
      transform: scale(.0);
  }
  #tr3{  
    margin-top: -100px;  
    margin-left: 550px;
    margin-bottom: 20px;
    width: 900px;
    height: 600px;
    background-color: rgb(0, 35, 67);
    transition: all 1s;   
  }
  .center7{
      color: white;
      font-size: 40px;
      font-weight: bold;
      padding-top: 100px;
      margin: 130px 0px 0px 400px;
      animation: myani 4s infinite;
  }
  .center8{
      color: white;
      font-size: 30px;
      font-weight: bold;
      margin: 60px 0px 0px 400px;
      animation: myani 4s infinite;
  }
  .center9{
      position: absolute;
      top: 10px;
      color: white;
      font-family: sans-serif;
      
  }
  
    .zoom{
        height: 100%;
        overflow: hidden;
    }
    .zoom img{
        transition: transform .5s ease;
    }
    .zoom:hover img{
        transform: scale(.9);
    }
  
    #IMG3{
      margin-top: -600px;
      margin-left: 100px;
    }
    #test{animation-timing-function: linear;}
    @keyframes mymove{
        from {bottom: 300px;}
        to {bottom: 600px;}
    }
    @keyframes mymove1{
        from {bottom: 0px;}
        to {bottom: 260px;}
    }
    @keyframes mymove2{
        from {bottom:0px;}
        to {bottom: 150px;}
    }
    @keyframes myani{
        0% { color: yellow;}
        50% { color: white;}
        100% { color:orange}
    }