body{
    background-color: rgba(242, 233, 233, 0.986);   
    width: 1520px;
    padding: 0.75%;
  }
.img1{
    width: 300px;
    height: 200px;
    float: left;
    
    padding: 5px 5px 5px 5px;
}
.img2{
    width: 300px;
    height: 200px;
    float: left;
    padding: 5px 5px 5px 5px;
}
.a1{
    text-decoration: none;
    color: rgb(207, 176, 0);
    font-size: xx-large;
    font-weight: bold;
     
}
.a1:hover{
    transition: all 0.2s linear;
    color: gray;
    text-shadow: 1px 1px 1px;
}
u{
    color: rgb(207, 176, 0);
    text-decoration: none;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.clear{
    clear: both;
}
table {
    margin: 0px 0px 0px 50px;
}
.center1{
    position: absolute;
    left: 550px;
    top: 1300px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.center1:hover{
    transition: all 1s linear;
    color: rgb(243, 183, 182);
}
.center2{
    position: absolute;
    left: 500px;
    top: 1400px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.center2:hover{
    transition: all 1s linear;
    color: rgb(243, 183, 182);
}
.bt1{
    background-color: rgb(99, 99, 251);
    color: white;
    border: none;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 700px;
    top: 1600px;
    opacity: .5;
    font-size: 20px;
    text-align: center;
    
}
.bt1:hover{
    transition: all .5s linear;
    opacity: 1;
    color: white;
}


@media screen and (min-width: 1350px){
    #h1r{
        font-size:30px;
        margin: 0px 0px 0px 700px ;
        color: rgb(207, 176, 0);
    }
    #pr1{
        font-size:20px;
        margin: 0px 0px 0px 600px;
        font-weight: bold;
    }
    #pr2{
        margin: 0px 0px 0px 600px; 
        font-weight: bold; 
        font-size: 20px;
    }
    .a1{
        text-decoration: none;
        color: rgb(207, 176, 0);
        font-size: 30px;
        font-weight: bold;
        display: flex;
        text-align: left;
    }
    #img1{
        width: 30%;
        height: 20%;

    }
    .pr3{
        font-size:20px;
    }
    .img2{
        width: 30%;
        height: 20%;
        float: left;
        padding: 5px 5px 5px 5px;
    }
    .img3{
        width: 90%;
        height: 80%;
        margin: 0px 0px 0px 80px;
    }
    .center1{
        position: absolute;
        left: 650px;
        top: 1400px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .center2{
        position: absolute;
        left: 550px;
        top: 1500px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    .a2{
        text-decoration: none;
    color: rgb(207, 176, 0);
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    }
    .pr4{
        font-size: 20px;
        display: flex;
        
    }
    .img4{
        width: 500px;
        height: 300px;
        
    }

}
@media screen and (min-width: 1220px) and (max-width: 1350px) {
    #h1r{
        font-size:30px;
        margin: 0px 0px 0px 700px ;
        color: rgb(207, 176, 0);
    }
    #pr1{
        font-size:20px;
        margin: 0px 0px 0px 600px;
        font-weight: bold;
    }
    #pr2{
        margin: 0px 0px 0px 600px; 
        font-weight: bold; 
        font-size: 20px;
    }
    .a1{
        text-decoration: none;
        color: rgb(207, 176, 0);
        font-size: 30px;
        font-weight: bold;
        display: flex;
        text-align: left;
    }
    #img1{
        width: 30%;
        height: 20%;

    }
    .pr3{
        font-size:20px;
    }
    .img2{
        width: 30%;
        height: 20%;
        float: left;
        padding: 5px 5px 5px 5px;
    }
    .img3{
        width: 90%;
        height: 80%;
        margin: 0px 0px 0px 80px;
    }
    .center1{
        position: absolute;
        left: 650px;
        top: 1400px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }
    .center2{
        position: absolute;
        left: 550px;
        top: 1500px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    .a2{
        text-decoration: none;
    color: rgb(207, 176, 0);
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    }
    .pr4{
        font-size: 20px;
        display: flex;
        
    }
    .img4{
        width: 500px;
        height: 300px;
        
    }

}
@media screen and (min-width: 912px) and (max-width: 1220px) {
    #h1r{
        font-size:30px;
        margin: 0px 0px 0px 200px ;
        color: rgb(207, 176, 0);
    }
    #pr1{
        font-size:17px;
        margin: 0px 0px 0px 90px;
        font-weight: bold;
    }
    #pr2{
        margin: 0px 0px 0px 50px; 
        font-weight: bold; 
        font-size: 17px;
    }
    .a1{
        text-decoration: none;
        color: rgb(207, 176, 0);
        font-size: 10px;
        font-weight: bold;
        display: flex;
        text-align: left;
    }
    #img1{
        width: 15%;
        height: 10%;

    }
    .pr3{
        font-size:medium;
        padding-right: 1050px;
    }
    .img2{
        width: 15%;
        height: 10%;
        float: left;
        padding: 5px 5px 5px 5px;
    }
    .img3{
        width: 30%;
        height: 20%;
    }
    .center1{
        position: absolute;
        left: 150px;
        top: 1000px;
        font-size: 10px;
        font-weight: bold;
        color: white;
        padding-top: 140px;
    }
    .center2{
        position: absolute;
        left: 100px;
        top: 1000px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
        padding-top: 150px;
    }
    .a2{
        text-decoration: none;
    color: rgb(207, 176, 0);
    font-size: medium;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    }
    .pr4{
        font-size: 10px;
        display: flex;
        padding-right: 50%;
    }
    .img4{
        width: 100px;
        height: 60px;
        margin-right: 1000px;
    }

}
@media screen and (min-width: 570px) and (max-width: 768px){
    #h1r{
        font-size:30px;
        margin: 0px 0px 0px 200px ;
        color: rgb(207, 176, 0);
    }
    #pr1{
        font-size:17px;
        margin: 0px 0px 0px 90px;
        font-weight: bold;
    }
    #pr2{
        margin: 0px 0px 0px 50px; 
        font-weight: bold; 
        font-size: 17px;
    }
    .a1{
        text-decoration: none;
        color: rgb(207, 176, 0);
        font-size: 10px;
        font-weight: bold;
        display: flex;
        text-align: left;
    }
    #img1{
        width: 15%;
        height: 10%;

    }
    .pr3{
        font-size:medium;
        padding-right: 1050px;
    }
    .img2{
        width: 15%;
        height: 10%;
        float: left;
        padding: 5px 5px 5px 5px;
    }
    .img3{
        width: 30%;
        height: 20%;
    }
    .center1{
        position: absolute;
        left: 150px;
        top: 1000px;
        font-size: 10px;
        font-weight: bold;
        color: white;
    }
    .center2{
        position: absolute;
        left: 100px;
        top: 1020px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    .a2{
        text-decoration: none;
    color: rgb(207, 176, 0);
    font-size: medium;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    }
    .pr4{
        font-size: 10px;
        display: flex;
        padding-right: 50%;
    }
    .img4{
        width: 100px;
        height: 60px;
        margin-right: 1000px;
    }

}
@media screen and (min-width: 768px) and (max-width: 912px) {
    #h1r{
        font-size:40px;
        margin: 0px 0px 0px 200px ;
        color: rgb(207, 176, 0);
    }
    #pr1{
        font-size:20px;
        margin: 0px 0px 0px 90px;
        font-weight: bold;
    }
    #pr2{
        margin: 0px 0px 0px 50px; 
        font-weight: bold; 
        font-size: 17px;
    }
    .a1{
        text-decoration: none;
        color: rgb(207, 176, 0);
        font-size: 20px;
        font-weight: bold;
        display: flex;
        text-align: left;
    }
    #img1{
        width: 15%;
        height: 10%;

    }
    .pr3{
        font-size:medium;
        padding-right: 1050px;
    }
    .img2{
        width: 15%;
        height: 10%;
        float: left;
        padding: 5px 5px 5px 5px;
    }
    .img3{
        width: 30%;
        height: 20%;
    }
    .center1{
        position: absolute;
        left: 150px;
        top: 1000px;
        font-size: 10px;
        font-weight: bold;
        color: white;
    }
    .center2{
        position: absolute;
        left: 100px;
        top: 1020px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    .a2{
        text-decoration: none;
    color: rgb(207, 176, 0);
    font-size: medium;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    }
    .pr4{
        font-size: 10px;
        display: flex;
        padding-right: 50%;
    }
    .img4{
        width: 100px;
        height: 60px;
        margin-right: 1000px;
    }

}
@media screen and (max-width: 570px){
    #h1r{
        font-size:30px;
        margin: 0px 0px 0px 200px ;
        color: rgb(207, 176, 0);
    }
    #pr1{
        font-size:17px;
        margin: 0px 0px 0px 90px;
        font-weight: bold;
    }
    #pr2{
        margin: 0px 0px 0px 50px; 
        font-weight: bold; 
        font-size: 17px;
    }
    .a1{
        text-decoration: none;
        color: rgb(207, 176, 0);
        font-size: 10px;
        font-weight: bold;
        display: flex;
        text-align: left;
    }
    #img1{
        width: 15%;
        height: 10%;

    }
    .pr3{
        font-size:medium;
        padding-right: 1050px;
    }
    .img2{
        width: 15%;
        height: 10%;
        float: left;
        padding: 5px 5px 5px 5px;
    }
    .img3{
        width: 30%;
        height: 20%;
    }
    .center1{
        position: absolute;
        left: 150px;
        top: 1000px;
        font-size: 10px;
        font-weight: bold;
        color: white;
    }
    .center2{
        position: absolute;
        left: 100px;
        top: 1020px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    .a2{
        text-decoration: none;
    color: rgb(207, 176, 0);
    font-size: medium;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
    }
    .pr4{
        font-size: 10px;
        display: flex;
        padding-right: 50%;
    }
    .img4{
        width: 100px;
        height: 60px;
        margin-right: 1000px;
    }

}
